<%= simple_form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
      <div class="col-md-5">
        <%= f.input :name, autofocus: true %>
        <%= f.input :last_name %>
        <%= f.input :age %>
        <%= f.input :course, collection: Course.all %>
      </div>
    </div>
    <div class="row">
      <%= link_to 'Back', students_path %>
      <%= f.button :submit %>
    </div>
<% end %>
